@page
@model keyboard_builder.Pages.KeyboardModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Buy or build a keyboard</h1>
    </div>
</div>

