@page
@model keyboard_builder.Pages.KeyboardModel
@{
}

<div class="text-center">
    <div class="mainText">
        <h1 class="display-4 text-capitalize text-black">Build or buy a keyboard</h1>
        <h4>Choose, confirm then order</h4>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 mb-5 mt-5">
                <div class="w-100 row makeYourOwnDiv">
                    <div class="col-6">
                        <img src="~/images/keyboards/DuckyOne2.png" class="mainImage w-100" />
                    </div>

                    <div class="col-6 align-items-center">
                        <div class="align-middle makeYourOwnText">
                            <h3 style="text-align:left;">Build your own keyboard</h3>
                            <p style="text-align:left;">Choose your own parts then order</p>
                            <a class="btn btn-primary" style="float: left;" asp-area="" asp-page="Forms/CustomKeyboard">Try Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/ThankYou">Continue</a>


    <p class="smallText"><i>Only one keyboard per order</i></p>

